/* stylelint-disable stylistic/selector-list-comma-newline-after */
body {background: url(../img/fondoinicio.jpg) no-repeat top center;
    background-position: 0.1% 0%;/*relativos o absolutos */
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif; }
header { 
    color: #ffb7fe;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
.blog-header-logo {
font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
font-size: 4.25rem;
}


.blog-header-logo:hover {
text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
.h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
margin-bottom: 4rem;
}

/*
* Blog posts
*/
.blog-post {
margin-bottom: 4rem;
}
.blog-post-meta {
margin-bottom: 1.25rem;
color: #727272;
}
/*--/slider--*/

.carousel-item {
background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) no-repeat;
background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) no-repeat;
background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) no-repeat;
background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) no-repeat;
background-size: cover;
}

.carousel-item.item2 {
background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner2.jpg) no-repeat;
background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner2.jpg) no-repeat;
background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner2.jpg) no-repeat;
background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner2.jpg) no-repeat;
background-size: cover;
}

.carousel-item.item3 {
background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner3.jpg) no-repeat;
background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner3.jpg) no-repeat;
background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner3.jpg) no-repeat;
background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner3.jpg) no-repeat;
background-size: cover;
}

.carousel-item.item4 {
background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner4.jpg) no-repeat;
background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner4.jpg) no-repeat;
background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner4.jpg) no-repeat;
background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner4.jpg) no-repeat;
background-size: cover;
}

.carousel-caption h2,
.carousel-caption h3 {
line-height: 1.4em;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
font-size: 4.3em;
letter-spacing: 6px;
}

.carousel-caption h5 {
font-size: 1em;
letter-spacing: 1px;
}

.carousel-caption span {
display: block;
font-size: 0.3em;
letter-spacing: 10px;
line-height: 1.3em;
}

.carousel-indicators {
bottom: 17%;
left: 0%;
cursor: pointer;
display: none;
}

.bnr-button {
margin-top: 2em;
}

.carousel-control {
line-height: 42em;
}

.carousel-indicators li {
display: inline-block;
max-width: 20px;
height: 19px;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
margin: 0 8px;
}

.carousel-indicators .active {
background: #1cbbb4;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
margin-bottom: 1.5rem;
text-align: center;
}
.circular--square{
border-radius: 50%;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
margin-right: .75rem;
margin-left: .75rem;
}


/* =============anuncio==================== */

/* =============Best-selling Product==================== */

.best-product{
padding-block: 5rem;
text-align: center;
}

.best-Seller{
width: 90vw;
margin-inline: auto;
text-align: center;
display: grid;
gap: 3rem;
grid-template-areas: 
'one'
'two'
'three'
'four'
'five'
'six'
'seven'
'eight';
}

.best-Seller:nth-child(1){
grid-area: one;
}
.best-Seller:nth-child(2){
grid-area: two;
}
.best-Seller:nth-child(3){
grid-area: three;
}
.best-Seller:nth-child(4){
grid-area: four;
}
.best-Seller:nth-child(5){
grid-area: five;
}
.best-Seller:nth-child(6){
grid-area: six;
}
.best-Seller:nth-child(7){
grid-area: seven;
}
.best-Seller:nth-child(8){
grid-area: eight;
}



.product{
text-align: left;
--grid-gap: 0.5rem;
cursor: pointer;
position: relative;
overflow-x: hidden;
}

.product:hover{
color: hsl(var(--clr-red));
}

.product-details{
position: absolute;
height: 25%;
place-items: center;
font-size: 1.5rem;
--grid-gap: 0rem;
width: 10%;
right: 0;
top: 0;
border-radius: .5rem;
transform: translateX(120%);
transition: transform 250ms ease-in-out;
}

.product:hover .product-details{
transform: translateX(0%);
}

.product > img{
border-radius: 2rem;
}
.letter-spacing{
letter-spacing: -1px;
font-size: 2.2rem;
}

@media (min-width: 35em) and (max-width: 59em){
.best-Seller{
width: 90vw;
margin-inline: auto;
text-align: center;
display: grid;
gap: 3rem;
padding-block: 2rem;
grid-template-areas: 
'one two'
'three four'
'five six'
'seven eight';
}
}

@media (min-width: 59em){
.best-Seller{
width: 95vw;
margin-inline: auto;
text-align: center;
display: grid;
gap: 3rem;
padding-block: 2rem;
grid-template-areas: 
'one two three four'
'five six seven eight';
}
}
/* ================footer==================== */

.footer{
margin-block: 5rem;
width: 85vw;
margin-inline: auto;
grid-auto-columns: auto;
--grid-gap:1.5rem;
grid-template-areas: 
'one'
'two'
'three'
'four';
}

.footer:nth-child(1){
grid-area: one;
}
.footer:nth-child(2){
grid-area: two;
}
.footer:nth-child(3){
grid-area: three;
}
.footer:nth-child(4){
grid-area: four;
}

.footer-logo{
--grid-gap: 2rem
}

.footer-logo > p{
width: 60%;
}

.footer-logo .social-media{
--flex-gap: 1.5rem;
}

.footer-menu > ul{
margin: 0;
padding: 0;
list-style: none;
}

.footer-menu li{
margin-top: 0.5rem;
}

.footer-menu a{
text-decoration: none;
}

.footer .contact > p{
width: 60%;
}

.inputField{
padding: .5rem 0.5rem;
border-radius: 4rem;
}

.inputField > button{
border: 0;
padding: 0.7rem 1.5rem;
border-radius: 3rem;
cursor: pointer;
}

.inputField input{
border: 0;
width: 60%;
}

.inputField input:hover,
.inputField input:focus{
outline: none;
}

.inputField input[type="email"]{
margin-left: 2.5rem;
}


@media (min-width: 35em) and (max-width: 59em){
.footer{
--grid-gap: 0.5rem
grid-auto-columns: auto;
grid-template-areas: 
'one two'
'three four';
}

.footer-logo > p{
font-size: 1rem;
}

.footer-logo .social-media{
--flex-gap: 1.5rem;
margin-bottom: 1rem;
}

.footer-menu li{
margin-top: 0.1rem;
}

.footer-menu a{
font-size: 1rem;
}

.updates{
font-size: 1.5rem;
}
.inputField input{
border: 0;
width: 50%;
}


.inputField input[type="email"]{
margin-left: 2rem;
}
}



@media (min-width: 59em){
.footer{
width: 92vw;
margin-top: 6rem;
--grid-gap: 2rem;
grid-auto-columns: auto;
grid-template-areas: 
'one two three four';
}
.footer-logo > p{
font-size: 1rem;
}
.footer-menu > h3{
font-size: 1rem;
}
.footer-menu a{
font-size: 1rem;
}

.contact > h3{
  font-size: 1rem;
}
.emails > h3{
  font-size: 1rem;
}

.inputField input{
  border: 0;
  width: 100%;
}

}


/* ==============CopyRight------------------- */
.text-align{
text-align: center;
}

.p-top{
padding: 1rem 0;
}

.copyRight{
margin-top: 5rem;
padding: 1rem 2rem;
margin-inline: auto;
background-color: hsl(var(--clr-black));
color: hsl(var(--clr-white) / 0.5);
}

@media (min-width: 35em) and (max-width: 59em){
.copyRight{
display: flex;
justify-content: space-between;
align-items: center;
}
}

@media (min-width: 59em){
.copyRight{
display: flex;
justify-content: space-between;
align-items: center;
}
.c-font{
font-size: 1rem;
}
}
div.pie{background: url(../img/fondoinicio.jpg);
background-repeat: no-repeat;
background-position: 0.1% 0%;
background-attachment: fixed;
background-size: 100% 125%;
font-family: Arial, Helvetica, sans-serif; 
}
#footer {background: #CCC; text-align: center; position: relative;}
#footer p { color: #555; font-size: 12px;}
#footer img { position: absolute; right: 5px; top: 50%; margin-top: -8px;}
#redes { position: fixed; right: 0; top: 420px; width: 36px;}


